<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rpa.dao.IUserDao">
 <resultMap type="com.rpa.pojo.User" id="userResultMap">
 	<id property="id" column="id"/>
 	<result property="user_name" column="userName"/>
 	<result property="password" column="password"/>
 	<result property="age" column="age"/>
 </resultMap>
<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="userResultMap">
	select * from user_t
</select>
</mapper>